html
    head
        title Timestamp Microservice
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    div(class="container")
        h1 404. Page Not Found
        hr
        h2 Try These For Size
        div(class="well")
            a(href="/" target="_blank") Home
        div(class="well")
            a(href="https://fathomless-beach-11060.herokuapp.com/api/whoami" target="_blank") https://fathomless-beach-11060.herokuapp.com/api/whoami