html
    head
        title Request Header Parser Microservice
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    div(class="container")
        h1 Request Header Parser Microservice
        hr
        ul(class="list-group")
            li(class="list-group-item") Retrieves the IP address, language and operating system for your browser.
        
        h2 Example
        div(class="well")
            a(class="example-link" href="https://fathomless-beach-11060.herokuapp.com/api/whoami", target="_blank") https://fathomless-beach-11060.herokuapp.com/api/whoami
            hr
            h4 Returns
            hr
            p(class="example-return") { <span class="unix">"ipaddress"</span>: "81.97.160.169", <span class="unix">"language"</span>: "en-US", <span class="unix">"software"</span>: "Macintosh; Intel Mac OS X 10_11_6" }